@import "vars";
@import "grid";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  //   background-color: $background-color;
  //   font-family: $default-font;
  //   font-weight: 400;
  //   color: $p-text-color;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   min-width: 320px;
//   min-height: 320px;
//   margin: 0 auto;
// }

// .wrap-container {
//   display: flex;
//   flex: 1 0 auto;
//   flex-direction: column;
//   padding-top: 69px;
//   box-sizing: border-box;
// }

// .main {
//   position: relative;
//   padding-bottom: 69px;
// }

// .footer {
//   flex: 0 0 auto;
// }

// .link {
//   display: inline-block;
//   text-decoration: none;
//   outline: none;
//   color: $p-text-color;
//   font-weight: 400;
//   transition: all .7s ease;
//   &._s {
//     color: $s-text-color;
//   }
//   &:hover,
//   &:active,
//   &:focus,
//   &._active {
//     color: $p-active-color;
//     cursor: pointer;
//   }
// }

// ._ellipsis {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// ._hidden {
//   display: none;
// }

// ._v-hidden {
//   position: absolute;
//   height: 1px;
//   width: 1px;
//   padding-top: 1px;
//   overflow: hidden;
//   clip: rect(1px, 1px, 1px, 1px);
//   box-sizing: border-box;
// }

h1, h2, h3, h4, h5, h6, .body0 {
  margin: 0;
  font-family: TTFirs-Bold;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.06em;
  color: #19181b;
  text-transform: uppercase;
}

h1 {
  font-size: 1.75rem;
}

h2, h3 {
  text-align: center;
}

// .body1 {
//   font-size: 1rem;
//   font-weight: 400;
// }

img	{
  display: block;
}

// strong {
//   font-weight: 700;
// }

// .check {
//   display: none;
//   &:checked+.check-label:before {
//     background-image: url(./svg/check.svg);
//   }
// }
// .check-label {
//   position: relative;
//   padding-left: 45px;
//   &:before {
//     display: block;
//     position: absolute;
//     content: '';
//     left: 0;
//     top: 0;
//     width: 28px;
//     height: 28px;
//     background-color: rgba(255, 255 , 255, 0.7);
//     background-repeat: no-repeat;
//     background-position: center center;
//     border-radius: 4px;
//   }
// }

// .button,
// .input {
//   width: 100%;
//   max-width: 230px;
//   min-height: 36px;
//   display: flex;
//   justify-content: center;
//   border: 1px solid transparent;
//   padding: 5px 8px;
//   border-radius: 4px;
//   text-align: center;
//   font-size: 0.875rem;
//   outline: none;
//   box-sizing: border-box;
//   transition: all .7s ease;
// }

// .button {
//   align-items: center;
//   font-weight: 500;
//   color: $s-text-color;
//   background-color: $p-active-color;
//   border: 1px solid $p-active-color;
//   box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
//   text-transform: uppercase;
//   text-decoration: none;
//   cursor: pointer;
//   &:focus, &:active, &:hover {
//     color: $p-active-color;
//     background-color: $background-color;
//     box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
//   }
//   &._s {
//     color: $p-text-color;
//     background-color: $background-color;
//     &:focus, &:active, &:hover {
//       color: $s-text-color;
//       background-color: $p-active-color;
//     }
//   }
// }

// .input {
//   max-width: 280px;
//   background-color: $background-color;
//   border-color: $p-active-color;
//   text-align: left;
//   &._s {
//     color: $p-text-color;
//     border-radius: 0;
//     border-color: transparent;
//     border-bottom-color: $p-active-color;
//   }
//   &:focus, &:active, &:hover {
//     border: 1px solid $b-text-color;
//     border-radius: 4px;
//   }
//   &:invalid:not(:placeholder-shown),
//   &._error {
//     background-color: rgba(255, 117, 117, 0.8);
//   }
//   &:focus + label,
//   &:valid:not(:placeholder-shown) + label {
//     right: auto;
//     font-size: 0;
//   }
// }

// .switch {
//   display: flex;
//   width: 290px;
//   justify-content: space-between;
//   border-radius: 5px;
//   background-color: #fff;
//   box-sizing: border-box;
//   &__label {
//     display: block;
//     width: 100%;
//     max-width: 142px;
//   }
//   &__button {
//     width: 100%;
//     max-width: 142px;
//     min-height: 100%;
//     display: flex;
//     justify-content: center;
//     padding: 5px 8px;
//     border-radius: 5px;
//     text-align: center;
//     font-size:0.875rem;
//     outline: none;
//     box-sizing: border-box;
//     transition: all .7s ease;
//     align-items: center;
//     font-weight: 500;
//     color: $p-text-color;
//     background-color: $background-color;
//     text-transform: uppercase;
//     text-decoration: none;
//     cursor: pointer;
//     &:focus, &:active, &:hover {
//       color: $p-active-color;
//     }
//   }
//   &__radio {
//     display: none;
//   }
//   &__radio:checked + &__button {
//     color: $s-text-color;
//     background-color: $p-active-color;
//   }
// }

// ._p-t {
//   padding-top: 64px - 30;
// }

// ._p {
//   color: $p-text-color;
// }

// ._s {
//   color: $s-text-color;
// }

// .swiper-container.swiper4 {
//   padding: 15px 15px 48px;
//   box-sizing: border-box;
// }
// .swiper {
//   &-slide {
//     background-color: $background-color;
//     overflow: hidden;
//     &:hover .portfolio__text,
//     &:active .portfolio__text,
//     &:focus .portfolio__text {
//       display: flex;
//     }
//   }
//   &__btn-prev,
//   &__btn-next {
//     position: absolute;
//     z-index: 5;
//     bottom: 0;
//     width: 32px;
//     height: 32px;
//     background-image: url(./svg/icon_arrow.svg);
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     outline: none;
//     cursor: pointer;
//     &.swiper-button-disabled {
//       background-position: -32px - 16 0;
//     }
//   }
//   &__btn-prev {
//     right: 15px + 16 + 32;
//   }
//   &__btn-next {
//     right: 15px;
//     transform: rotate(180deg);
//   }
// }

@import "media";